*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "menu-top contenido"
    "menu-top pie-pag";
    grid-template-columns: 10% 90%;
    grid-template-rows: 40px 800px 35px;
    min-height: 800px;
}

.navbar {
    grid-area: navbar;
    background-color: rgb(106, 132, 133);
    color: rgb(212, 212, 212);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-text   {
    font-size: 20px;
}

.menu-top   {
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: menu-top;
}

button  {
    background-color: rgb(106, 132, 133);
    color: rgb(212, 212, 212);
    font-size: 15px;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.contenido  {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 40px;
}

.cards  {
    display: flex;
    border: 2px solid rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
    color: rgb(106, 132, 133);
    width: 260px;
    height: 350px;
    padding: 20px;
}

.valor  {
    color: rgb(71, 86, 87);
    padding: 8px;
}

.pie-pag    {
    background-color: rgba(212, 212, 212, 0.452);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: rgb(71, 86, 87);
    align-items: center;
    grid-area: pie-pag;
}